{% extends 'base.html' %}
{% block title %}Sign Up{% endblock %}
{% block header %}
<nav>
    <ul>
        <a class=cart href="{% url 'products' %}"><i class="fas fa-desktop"></i></a>
        <li><a href="{% url 'signin' %}">Already have an account ? <b>Sign in</b></a></li>
    </ul>
</nav>

{% endblock %}

{% block content %}
  <h2>Create an Account</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <br><small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form>
{% endblock %}