{% extends 'base.html' %}
{% block title %}Sign In{% endblock %}
{% block header %}
<nav>
    <ul>
        <a class=cart href="{% url 'products' %}"><i class="fas fa-desktop"></i></a>
        <li><a href="{% url 'signup' %}">You don't have an account ? <b>Sign up</b></a></li>
    </ul>
</nav>

{% endblock %}

{% block content %}
  <h2>Connect to your Account</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Log in</button>
  </form>
{% endblock %}